* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: grey;
  font: 900;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: grey solid 4px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle.active {
  border-color: purple;
}

.circle::before {
  content: "";
  position: absolute;
  top: 50%; /*the top of the element is at the 50% mark*/
  right: 100%;
  width: 80px;
  height: 5px;
  background-color: grey;
  transform: translateY(
    -50%
  ); /*move the element back up by half of its own height to center it with the whole page*/
  width: 80px;
}

.circle.active::before {
  background-color: purple;
  width: 80px;
}

.circle:first-child::before {
  display: none;
}

.btn {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: transparent;
  color: white;
  font-size: 18px;
}

.btn.active {
  background-color: purple;
  cursor: pointer;
}

.btn.inactive {
  background-color: grey;
  cursor: not-allowed;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
