:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: grey;
  font: 900;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  position: relative;
}

.circle-container::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background-color: var(--line-border-empty);
  transition: width 0.3s ease-in-out;
  transform: translateY(-50%);
  z-index: -1;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: var(--line-border-empty) solid 4px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease-in-out;
  background-color: white;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.progress-line {
  position: absolute;
  top: 50%;
  width: 0%;
  left: 0;
  height: 5px;
  background-color: var(--line-border-fill);
  transition: width 0.3s ease-in-out;
  transform: translateY(-50%);
  z-index: -1;
}

.btn {
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--line-border-fill);
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}